# Dependencies
/node_modules

# Build output
/build
/dist

# Environment variables
/.env

# Visual Studio Code files
.vscode/

# TypeScript output
*.tsbuildinfo

# Debugging logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Mac files
.DS_Store
