$themes: (
	light: (
		primaryColor: #f9fcff,
		primaryShade: #dfe4ea,
		secondaryColor: #2448ff,
		backgroundColor: #f5f5f5,
		boxShadowColor: rgba(118, 118, 118, 0.419),
		textColor: #191717,
		secondaryTextColor: #caccd0,
		percentageColor: #494949,
		projectTitleColor: #fff,
		linkColor: #215ab7,
        socialIconColor: #dfe4ea,
		titleCardBackgroundColor: #1131ce,
		titleCardTextColor: #2241e0,
		titleCardFooterColor: #ffffff,
		skillIconColor: #0d26a3,
	),
	dark: (
		primaryColor: #242728,
		primaryShade: #1c1e1f,
		secondaryColor: #2448ff,
		backgroundColor: #2a2b2e,
		boxShadowColor: rgba(33, 33, 33, 0.8),
		textColor: #eff2f7,
		secondaryTextColor: #6b6d70,
		percentageColor: #464c56,
		projectTitleColor: #fff,
		linkColor: #215ab7,
        socialIconColor: #31353c,
		titleCardBackgroundColor: #1131ce,
		titleCardTextColor: #2241e0,
		titleCardFooterColor: #242728,
		skillIconColor: #0d26a3,
	),
);

@mixin themify($themes) {
	@each $theme, $map in $themes {
		.theme-#{$theme} & {
			$theme-map: () !global;
			@each $key, $submap in $map {
				$value: map-get(map-get($themes, $theme), "#{$key}");
				$theme-map: map-merge(
					$theme-map,
					(
						$key: $value,
					)
				) !global;
			}
			@content;
			$theme-map: null !global;
		}
	}
}

@function themed($key) {
	@return map-get($theme-map, $key);
}
