$themes: (
  light: (
    backgroundColor: #e7ecf4,
    primaryColor: #f9fcff,
    secondaryColor: rgba(33, 150, 243),
    boxShadowColor: rgba(118, 118, 118, 0.419),
    textColor: #191717,
    toggleBackground: #dfe4ea,
    percentageColor: rgb(65, 65, 65),
    projectTitleColor: #fff,
    linkColor: rgba(33, 90, 183),
    
    /*
    backgroundColor: #fffdfa,
    primaryColor: #ebebeb,
    secondaryColor: #4284f5,
    accentColor: #586d8d,
    boxShadowColor: rgba(118, 118, 118, 0.419),
    textColor: #271902,
    toggleBackground: #dfe4ea,
    percentageColor: rgb(65, 65, 65),
    projectTitleColor: #fff
    */
  ),
  dark: (
    backgroundColor: #2D3138,
    primaryColor: #242728,
    boxShadowColor: rgba(33, 33, 33, 0.8),
    secondaryColor: rgb(28, 128, 209),
    textColor: #eff2f7,
    toggleBackground: #565664,
    percentageColor: #464c56,
    projectTitleColor: #fff
  ),
);

@mixin themify($themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}

//accent light
//#9192FF

