$themes: (
  light: (
    primaryColor: #e8e8e8,
    secondaryColor: #fff,
    //accentColor: #9192FF,
    // accentColor: #c8c8f9,
    accentColor: #efb514,
    boxShadowColor: rgb(159, 159, 159),
    headerBackgroundImg: '../images/header-bg-light.svg',
    textColor: #000,
    toggleBackground: #dfe4ea,
    percentageColor: rgb(65, 65, 65),
    projectTitleColor: #fff
  ),
  dark: (
    primaryColor: #2D3138,
    secondaryColor: #242728,
    boxShadowColor: rgb(25, 25, 25),
    accentColor: #797ad5,
    headerBackgroundImg: '../images/header-bg-dark.svg',
    textColor: #eff2f7,
    toggleBackground: #565664,
    percentageColor: #464c56,
    projectTitleColor: #fff
  ),
);

@mixin themify($themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}

//accent light
//#9192FF

