@import '/src/styles/theme-variables.scss';

.skill-section {
  position: sticky;
  display: flex;
  flex-direction: row;
  @include themify($themes) {
    color: themed('textColor');
  }
}

.skill-text {
  width: 50%;
  max-height: 420px;
}

.skill-card {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.space {
  height: 60rem;
}
