@import "/src/styles/theme-variables.scss";

.header-section {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.main-container {
	@include themify($themes) {
		background: themed("backgroundColor");
	}
	width: 100%;
}
