@import "/src/styles/theme-variables.scss";

.gallery {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	width: 100%;
	max-width: 1200px;
	box-sizing: border-box;
	overflow: visible;
	justify-content: center;
	align-items: center;
	gap: $space-3;
	user-select: none;

	grid-template-areas:
		"box-5 box-5 box-1 box-2"
		"box-5 box-5 box-4 box-4"
		"box-9 box-10 box-10 box-7"
		"box-15 box-14 box-13 box-13"
		"box-8 box-8 box-13 box-13"
		"box-3 box-17 box-17 box-11"
		"box-12 box-12 box-16 box-16"
		"box-6 box-6 box-16 box-16";

	.gallery-image-wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		@include themify($themes) {
			background-color: themed("imageViewerImageBorderColor");
		}
		height: 100%;
		width: 100%;
		box-sizing: border-box;
		padding: $space-0;
		border-radius: $radius-md;

		img {
			border-radius: $radius-md;
		}

		img.landscape {
			width: 100%;
			height: 100%;
			overflow: hidden;
		}

		img.portrait {
			width: 100%;
			height: 100%;
			overflow: hidden;
		}
	}

	.image-viewer {
		display: flex;
		z-index: 200;
		overflow: visible;
		width: 100%;
		top: $space-0;
		left: $space-0;
		height: 100%;
		justify-content: center;
		align-items: center;
		position: fixed;
		box-sizing: border-box;
		padding: $space-7;

		@include themify($themes) {
			background-color: themed("imageViewerBackgroundColor");
        }

		.gallery-image-wrapper {
			display: flex;
			flex-direction: column;
			height: auto;
			width: auto;
			padding: $space-5;
			border-radius: $radius-md;
		}

		img {
			max-width: none;
			border-radius: $space-0;
            z-index: 200;
		}

		img.landscape {
			width: 80vw;
			height: auto;
		}

		img.portrait {
			width: auto;
			height: 80vh;
		}
	}
}

@media only screen and (max-width: 768px) {
	.gallery-section {
		padding: $space-4;
	}

	.gallery {
		display: grid;
		width: 100%;
		height: 100%;
		gap: $space-2;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(9, auto);
		grid-template-areas:
			"box-1 box-2"
			"box-3 box-7"
			"box-4 box-4"
			"box-5 box-5"
			"box-6 box-6"
			"box-8 box-8"
			"box-10 box-10"
			"box-9 box-11"
			"box-13 box-15"
			"box-12 box-12"
			"box-14 box-16"
			"box-17 box-17";

		box-sizing: border-box;
		width: 100%;
		overflow: hidden;
		border-radius: $radius-md;

		.image-viewer {
			padding: $space-3;

			.gallery-image-wrapper {
				padding: $space-3;
				border-radius: $radius-md;
			}

			img.landscape {
				width: 80vw;
				height: auto;
			}

			img.portrait {
				width: 80vw;
				height: auto;
			}
		}
	}

	img {
		transform: translate(0, 0) !important;
	}

	img.landscape {
		width: 100%;
		height: auto;
	}

	img.portrait {
		width: 100%;
		height: auto;
	}
}
